
.principal {
   background-image: url(./img/starss.jpeg);
   background-attachment: fixed;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
   height: 100vh;
   width: 100vw;
   text-align: center;
}

.tittle {
    color: #1b0101;
    background-image: linear-gradient(to right, #8C7851, #D9C5A0);
    border-radius: 15px;
}

.tittle2 {
    color: #592802da;
    margin-top: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.caixa {
    height: 60%;
    width: 40%;
    background-color: #D9C6A3;
    max-width: 25rem;
    padding: 1.25rem;
    border-radius: 1.563rem;
    border: 2px solid #403001;
    opacity: 0.95;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cinse {
    text-align: center;
    border: 0.1px solid #6c4f41;
    border-radius: 9.9px;
    height: 2rem;
    width: 13rem;
    margin-left: auto;
    margin-right: auto;
    color:#592202;
}

.botao {
    height: 2.4rem;
    width: 9.9rem;
    border: 0.2px;
    border-radius: 9px;
    background-image: linear-gradient(to right,  #8C7851, #d5bf97);
    margin-left: auto;
    margin-right: auto;
}
.caixa-menor {
    background-color: #f5f1dd;
    margin: 0 auto; 
    width: 50%;
    height: 40%;
    max-width: 25rem;
    opacity: 0.8;
    padding: 1.25rem;
    border-radius: 1.600rem;
    border: 2px solid #f3e6e0;
    background-image: url("./img/.jpeg");
    background-size: cover;
    opacity: 0.80;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}